@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

.tra {
  translate: -50%;
}

.custom-shape-divider-top-1691178521 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1691178521 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 61px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691186777 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1691186777 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
}

.custom-shape-divider-top-1691256564 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1691256564 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691248774 {
  position: absolute;
  top: -42px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1691248774 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
  transform: rotateY(180deg);
}
.shape-fill {
  fill: #202020;
}

.custom-shape-divider-top-1691601869 {
  position: absolute;
  bottom: -132px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1691601869 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}
